{% extends "OFCalendarBundle::Visite/Quali/layout.html.twig" %} 
{% block body %}
	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	<div class="headerSidebar">
		Mes visites
	</div>
	<div class="contentSidebar">
		{% for event in listeVisites %}
			<a href="{{ path('of_calendar_view_qualitevisite',{'id' : event.id})}}">
				Le <b>{{event.startDatetime|date("d/m", "Europe/Paris")}}</b> de <b>{{event.startDatetime|date("H:i", "Europe/Paris")}}</b> à <b>{{event.endDatetime|date("H:i", "Europe/Paris")}}</b> : <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{event.title}}</li><br/>
			</a>
		{% endfor %}
	</div>
	
	{% endif %}
{% endblock %}