{% extends "OFFaqBundle::layout.html.twig" %} 
{% block stylesheets %}
	{{ parent()}}
	<link rel="stylesheet" href="{{ asset('css/visites/visites.css') }}">
{% endblock %}



{% block body %}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED")  %}
<div class="col-md-8 col-md-offset-2 col-xs-12">
<a href="{{path('of_faq_homepage')}}" class="button_inversed" ><i class="material-icons left">keyboard_arrow_left</i> Retourner à la liste des questions</a><br /><br />
<div class="panel panel-default">
	<div class="panel-heading">{{ question.title }}	 {% if is_granted('ROLE_ADMIN') %}<a href="{{path('of_faq_Suppr', {'id' : question.id})}}" class="pull-right">Supprimer</a>	</div>{% endif %}
	<div class="panel-body">{{ question.content }}<br />

	{% if question.answer is not null %}
	<br />
	<div class="alert alert-success" role="alert"><b> Réponse : </b> <br />{{question.answer}}</div>
	
	{% endif %}<br />
	<b>Catégorie</b> : {{ question.category }}
	{% if is_granted('ROLE_ADMIN') %}
		{{ form(form)}}
	{% endif %}

	</div>
</div>
	

</div>


	{% else %}
		<div class="alert alert-danger">
		<div class="col-md-8 col-md-offset-2">      
		  	<strong> Page inaccessible.</strong> Vous n'êtes pas conférencier pour cette visite.
		<div>
		</div>
	{% endif %}


{% endblock %}



{% block javascript %}
	{{ parent()}}

{% endblock %}