{% extends "OFFaqBundle::layout.html.twig" %} 
{% block stylesheets %}
	{{ parent()}}
	<link rel="stylesheet" href="{{ asset('css/visites/visites.css') }}">
{% endblock %}

{% block sidebar %}

	{% if is_granted("IS_AUTHENTICATED_REMEMBERED")  %}


	{% endif %}
{% endblock %}

{% block body %}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED")  %}

        
<div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
		  <!-- Dropdown Trigger -->
  <a class='dropdown-button btn right btn-primary col-md-3 col-sm-12 col-xs-12'  href='#' data-activates='dropdown1'><i class="material-icons left">expand_more</i> <span class="titlecat">Catégorie</span></a>

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    	<li><a class=" boutoncategory " cat="Tout">Tout</a></li>
		<li><a class=" boutoncategory" cat="Extérieurs des bâtiments">Extérieurs des bâtiments</a></li>

		<li><a class=" boutoncategory" cat="Espace de créativité">Espace de créativité</a></li>
		<li><a class=" boutoncategory" cat="Centre de Conférence">Centre de Conférence</a></li>
		<li><a class=" boutoncategory" cat="Rez-de-chaussée Opale">Rez-de-chaussée Opale</a></li>
		<li><a class=" boutoncategory" cat="Showroom">Showroom</a></li>
		<li><a class=" boutoncategory" cat="Halle d’essais">Halle d’essais</a></li>
		<li><a class=" boutoncategory" cat="Général">Général</a></li>
  </ul>


	<button type="button" id="ajouterEventBouton" class="btn waves-effect btn-primary pull-right" data-toggle="modal" data-target="#modalAdd" style="
	right: 30px;
bottom: 30px;
z-index: 100;
border: none;
position: fixed !important;"><span class="glyphicon glyphicon-pencil"></span><span class="hidden-xs">  Poser une question</span></button>
	<br /><br />
	<div class="listeQuestions">
	{% for question in listeQuestions %}
	<div class="panel panel-default 
		{% if question.answer is not null %}
			solved
		{% else %}
			unsolved
		{% endif %}" cat="{{ question.category }}">
		<div class="panel-heading"> {% if question.answer is not null %}<span class="glyphicon glyphicon-ok"></span>  {% endif %}{{ question.title }}{% if is_granted('ROLE_ADMIN') %}<a href="{{path('of_faq_Suppr', {'id' : question.id})}}" class="pull-right">Supprimer</a>{% endif %}</div>


		<div class="panel-body">{{ question.content }}
		<br /><br />

		<a class="btn btn-primary" href="{{path('of_show_question', {'id' : question.id})}}" >Voir</a><span class="pull-right"> Catégorie : <b>{{ question.category }}</b></span>

		</div>
	</div>
		
	{% endfor %}
	</div>
</div>


	<!-- Modal -->
	<div class=" col-md-6 col-md-offset-3 modal modal-content" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h5 class="modal-title" id="myModalLabel">Poser une question</h5>
		      </div>
		      <div class="modal-body">
		        {{form_start(form)}}
		        
        		<div class="input-field">
		        	{{form_row(form.title)}}
				</div>
				<div class="input-field">
		        	{{form_row(form.content)}}
		        </div>
		        <div class="input-field">
		        {{form_row(form.category)}}
		       </div>
				
		      <div class="modal-footer">
		       {{form_widget(form.save, {'attr': {'class': 'btn btn-primary pull-left'}})}}
		      {{form_end(form)}}
		        <button type="button" class="btn btn-danger red" data-dismiss="modal"><span class="glyphicon glyphicon-remove"> </span> <span class="hidden-xs hidden-sm">Fermer</span></button>
		    </div>
		  </div>
		</div>

{% else %}
	<div class="col-md-8 ">      

	<div class="alert alert-danger">
	  	<strong> Page inaccessible.</strong> Vous n'êtes pas connecté.
	</div>
	</div>
{% endif %}


{% endblock %}



{% block javascript %}
	{{ parent()}}
	<script>
	 $(function() {

	 	$('.boutoncategory').click(function(){
	 		var cat = $(this).attr('cat');
	 		$('.titlecat').html(cat);
	 		$('.listeQuestions').children('.panel').each(function(){
	 			if ($(this).attr('cat') == cat || cat == "Tout"){
	 				$(this).show();
	 			}else{
	 				$(this).hide();
	 			}
	 		});
	 	});
	 });
	</script>

{% endblock %}