{% extends "OFCalendarBundle::layout.html.twig" %} 
{% block stylesheets %}
	{{ parent()}}
	<link rel="stylesheet" href="{{ asset('css/visites/visites.css') }}">
{% endblock %}



{% block body %}
<div class="col-md-8">
	{% if is_granted("IS_AUTHENTICATED_REMEMBERED")  %}
		<div class="row">		
			<div class="">
				<div class="">		

		{% set cat = '' %}
		{% set compteurligne = 0 %}
		{% for document in listeDocuments %}

			{% if document.category == 'Admin' and is_granted("ROLE_ADMIN") %}
				{% if document.category != cat %}
					{% set cat = document.category %}
					{% if compteurligne != 0 %}
						</div>
					{% endif %}
					{% set compteurligne = 0 %}
					</div>
					</div>
					</div>
					<div class="row">
					<div class="panel panel-default ">

					<div class="panel-body ">
					<div class="panel-heading">
					{{ cat }} ( seuls les administrateurs ont accès à ces documents )</div>

					
				{% endif %}
				{% set compteurligne = compteurligne + 1 %}
					{% if compteurligne == 1 %}
						<div class="row">
					{% endif %}
				<a href="{{ asset(document.getUploadDir ~ '/' ~ document.url)}}">
					<div class="col-sm-2 col-xs-3" style="text-align:center">
					
						<span class="glyphicon glyphicon-file" style="font-size:60px;"></span><br />
						{{ document.title }}
					</div>
				</a>
					{% if compteurligne == 6 %}
						</div>
						{% set compteurligne = 0 %}
					{% endif %}
			{% endif %}
			{% if document.category != 'Admin' %}
				{% if document.category != cat %}
					{% set cat = document.category %}
					{% if compteurligne != 0 %}
						</div>
					{% endif %}
					{% set compteurligne = 0 %}
					</div>
					</div>
					</div>
					<div class="row">
					<div class="panel panel-default ">

					<div class="panel-body ">
					<div class="panel-heading">
					{{ cat }}</div>

					
				{% endif %}
				{% set compteurligne = compteurligne + 1 %}
					{% if compteurligne == 1 %}
						<div class="row">
					{% endif %}
				<a href="{{ asset(document.getUploadDir ~ '/' ~ document.url)}}">
					<div class="col-sm-2 col-xs-3" style="text-align:center">
					
						<span class="glyphicon glyphicon-file" style="font-size:60px;"></span><br />
						{{ document.title }}
					</div>
				</a>
				{% if compteurligne == 6 %}
						</div>
						{% set compteurligne = 0 %}
				{% endif %}

			{%endif%}
		{% endfor %}
		</div></div></div>
	{% else %}
		<div class="alert alert-danger">
		<div class="col-md-8 col-md-offset-2">      
		  	<strong> Page inaccessible.</strong> Connectez-vous pour accéder à cet espace.
		<:div>
		</div>
	{% endif %}

</div>
{% endblock %}


	{% block script_menu_active %}
		{{ parent()}}
		$link_active = "#document";
		
	{% endblock %}

{% block javascript %}
	{{ parent()}}
	<script>
	 $(function() {

	 	$('.boutoncategory').click(function(){
	 		var cat = $(this).attr('cat');
	 		$('.listeQuestions').children('.panel').each(function(){
	 			if ($(this).attr('cat') == cat || cat == "All"){
	 				$(this).show();
	 			}else{
	 				$(this).hide();
	 			}
	 		});
	 	});
	 });
	</script>

{% endblock %}