{% extends "OFCalendarBundle::layout.html.twig" %} 
{% block stylesheets %}
	{{ parent()}}
	<link rel="stylesheet" href="{{ asset('css/visites/visites.css') }}">
{% endblock %}

{% block menu %}
{% endblock %}
{% block body %}
<div style="margin-top:-50px;">
<div style="margin: 0 auto; width: 250px; text-align:center; border-bottom: 2px solid var(--color-secondaire);padding-bottom:5px"><b>Récapitulatif de la visite {{ event.id }}</b></div><br />
<div style="margin: 0 auto; width: 250px; text-align:center; margin-top : -20px; ">Le <b>{{event.startDatetime|date("d/m/Y", "Europe/Paris")}}</b> de <b>{{event.startDatetime|date("H:i", "Europe/Paris")}}</b> à <b>{{event.endDatetime|date("H:i", "Europe/Paris")}}</b></div><br />

	<div class="row">
			<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-cog"></span> Gestion de la visite
				</div>
				<div class="panel-body">
					<div class="col-xs-6">
						<b>Conférenciers</b> :  
						<ul>
							{% for participant in event.applications %}
								<li>{{participant.user.prenom}} {{participant.user.nom}} ( {{ participant.user.telephone }}, {{ participant.user.email }} )</li>
							{% endfor %}
							{% for i in 1..(event.nbUserMax - event.applications|length) %}
								<li>
									N/A

								</li>
							{% endfor %}
						</ul>
					</div>
					<div class="col-xs-6">
						<b>Reponsable Qualité</b> :<br /> 
						<ul>
							<li>{{event.respoQuali.prenom }} {{event.respoQuali.nom }} ( {{ event.respoQuali.telephone }}, {{event.respoQuali.email}} )</li><br />
						</ul>
					</div>
				</div>
		
			</div></div>



		<div class="col-xs-6 pull-left">
			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-th-list"></span> Informations générales
				</div>
 				<div class="panel-body">
					<b> Client </b>: {{ event.client.entreprise }} <br />
					<b> Type Client </b>: {{ event.client.type }} <br />
					<b> Thématique</b> : {{ event.theme }} <br />
					<b> Objectif de la visite</b>: {{ event.objectif }} <br />
					<b> Nombre de partcipants </b> : {{ event.nombreParticipants }} <br />
					<b> Langue </b> : {{ event.langue }}  <br />
				</div>
			</div>
			<div class="panel panel-default">
					<div class="panel-heading">
						<span class="glyphicon glyphicon-align-center"></span> Contact Visiteur
					</div>
					<div class="panel-body">
						<b>Responsable</b> : {{ event.client.nom }} {{ event.client.prenom }} <br />
						<b>Téléphone</b> : {{ event.client.telephone }}<br />
						<b>Adresse Mail</b> : {{ event.client.adresseMail }}
					</div>
			</div>
			<div class="panel panel-default">
					<div class="panel-heading">
						<span class="glyphicon glyphicon-inbox"></span> Logistique Complémentaire
					</div>
					<div class="panel-body">
						{% for logistique in event.otherInfos %}
							{{ logistique }} <br />
						{% endfor %}
					</div>
			</div>


		</div>
		<div class="col-xs-6 pull-right">
			 <div class="panel panel-default">
          <div class="panel-heading">Déroulé de la visite : 
          </div>
          <div class="panel-body">
          <ul id="preview" style="padding-left: 0;list-style:none;">
          {% set heure = event.startDatetime|date("H", "Europe/Paris") %}
          {% set minute = event.startDatetime|date("i", "Europe/Paris") %}
          <li minute="{{minute}}" heure="{{heure}}"><div class="dotElementVisite pull-left" style="margin-left:-7px;"></div> <b>{{ heure }}:{{ minute }}</b><div class="elementPreview"></li>
            {% for element in event.elementsVisites %}
              {% set heure = heure + element.duree|date("H", "Europe/Paris") %}
              {% set minute = minute + element.duree|date("i", "Europe/Paris") %}
              {% if (minute//60 > 0)%}
                {% set heure  = heure + 1%}
                {% set minute = minute - (minute//60) * 60 %}
              {% endif %}
              <li minute="{{minute}}" heure="{{heure}}"> <div class="elementPreview"><div class="titreElementVisite"><span class="statut"></span> <b>{{element.titre}}</b> <br /> {{element.description }}</div><br /><div class="dotElementVisite pull-left" style=""></div><b>{{heure}}:{% if minute < 10 %}0{% endif %}{{minute}}</b></li>
              
            {% endfor %}
            <li minute="{{minute}}" heure="{{heure}}"><div class="elementPreview"><div class="titreElementVisite"><span class="statut"></span> Fin</div><br /><div class="dotElementVisite pull-left" style=""></div><b>{{event.endDatetime|date("H:i", "Europe/Paris")}}</b> </li>
          </ul>
          


          </div>
         </div>



			

	</div>
</div>
</div>
{% endblock %}