{% extends "OFCalendarBundle::layout.html.twig" %} 
{% block stylesheets %}
	{{ parent()}}
	<link rel="stylesheet" href="{{ asset('css/visites/visites.css') }}">
{% endblock %}



{% block body %}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") and userParticipe == true %}
	{% include("@OFCalendar/Visite/etapes/layout.html.twig") %}
{% else %}
	<div class="alert alert-danger">
	<div class="col-md-8 col-md-offset-2">      
	  	<strong> Page inaccessible.</strong> Vous n'êtes pas conférencier pour cette visite.
	<div>
	</div>
{% endif %}


{% endblock %}



{% block javascript %}
	{{ parent()}}
	<script>
	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	$(document).ready(function(){
		$('#ajout_conferencier').click(function(){
			$.ajax({
				url: "{{ path('of_calendar_ajoutUserEvent', {'id' : event.id})}}",
				method: "post",
				data:{idUser: {{ app.user.id}}}

			}).done(function(){
			
			});
		});
		$('#suppr_conferencier').click(function(){
			$.ajax({
				url: "{{ path('of_calendar_supprUserEvent', {'id' : event.id})}}",
				method: "post",
				data:{idUser: {{ app.user.id}}}

			}).done(function(){
			
			});
		});
	});
	{% endif %}
	
	</script>
{% endblock %}