{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show col-md-8 col-md-offset-2 col-xs-12">
<br />
<br /><br />
	<div class="panel panel-default ">

		<div class="profilepic" style=" display:flex;   justify-content:center; width:100%;  align-items:center;">
			<img style="border: 5px solid #fff;  width:160px; height:160px; margin: 0 auto; margin-top : -80px; " class="img-circle"  src="{{ asset(user.getWebProfilePicturePath) }}" title="profilePicture">
		</div>

		<div style="text-align:center; width:100%; font-size : 25px; font-weight:600" >{{ user.nom}} {{ user.prenom}}</div>
		<div style="text-align:center; width:100%; font-size : 20px; font-weight:400" ><i>{{ user.username }}</i></div>
		<div style="text-align:center; width:100%; font-size : 13px; font-weight:400" >  <a href="{{ path('fos_user_profile_edit')}}"> <span class=" 	glyphicon glyphicon-pencil"></span> Modifier mon profil</a></div>

		<br />
		<div class="row">
				<div class="col-md-6">
			<div class="panel panel-default ">
				<div class="panel-heading">Informations personnelles</div>
				<div class="panel-body">
				<b> Adresse mail </b>: {{ user.email }}<br /> 
				<b> Téléphone </b>: {{ user.telephone }}</br />
				<b> R.I.B </b> : {{ user.rib }}
				</div>
			</div>
			</div>
			<div class="col-md-6">
			<div class="panel panel-default ">
				<div class="panel-heading">Informations Conférencier</div>
				<div class="panel-body">
				<b> Nombre de conférences données </b>: {{ user.visites|length }}<br /> 
				<b> Langue </b>: {{ user.langue }}</br />
				<a href="{{ path('of_calendar_panelUser')}}">Voir toutes les conférences données</a>
				</div>
			</div>
			</div>

	    </div>

	</div>
</div>