{# src/OC/PlatformBundle/Resources/views/Advert/form.html.twig #}
  <div class="modal modal-content fade col-md-6" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">


  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Ajouter une visite</h4>
          </div>
          <div class="modal-body">
            


  {# Les erreurs générales du formulaire. #}

  {{ form_errors(form) }}



<div class="form-group">

<div class="col-sm-4">{{ form_widget(form.startDate, {'attr': {'class': 'datepicker', 'placeholder' : ' Cliquez pour choisir la date'}}) }} </div>
<div class="col-sm-4">{{ form_row(form.heureDebut) }}</div>
<div class="col-sm-4"> Heure de fin : {{ form_widget(form.heureFin, {'attr': {}}) }} </div><br />

<div class="col-md-7">{{form_row(form.client)}}</div>
<div class="col-md-5">{{ form_row(form.nombreParticipants) }}</div>
<div class="col-md-12">{{form_row(form.respoQuali)}}</div>


<div class="col-md-4 ">{{form_row(form.langue)}}</div>
<div class="col-md-8">{{ form_row(form.theme) }}</div>
<div class="col-md-12">{{ form_row(form.objectif) }}</div>
<div class="col-md-12">{{ form_row(form.description) }}</div>


</div>
          </div>
          <div class="modal-footer">
  {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

        </div>

{{ form_rest(form) }}
{{ form_end(form) }}
      </div>
    