{# src/OC/PlatformBundle/Resources/views/Advert/form.html.twig #}
<div class="modal modal-fixed-footer fade col-md-6" id="modalAdd" tabindex="-1" aria-labelledby="myModalLabel">


            <div class="modal-content">

  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h5 class="modal-title" id="myModalLabel">Ajouter une visite</h5><br />


  {# Les erreurs générales du formulaire. #}

  {{ form_errors(form) }}



<div class="form-group">

<div class="row">
<div class="col-sm-4">{{ form_row(form.startDate, {'attr': {'class': 'datepicker', 'placeholder' : ' Cliquez pour choisir la date'}}) }} </div>

<div class="col-sm-4" style="margin-top: -16px;">

<div class="" style="margin-top:16px; margin-left:20px;font-weight:700; font-size: 0.8rem;color: #9e9e9e;">Heure Début</div>

<div class="col-sm-3">{{ form_widget(form.heureDebut.hour) }}</div>
<div class="col-sm-3">{{ form_widget(form.heureDebut.minute) }}</div>
</div>
<div class="col-sm-4"  style="margin-top: -16px;">

<div class="" style="margin-top:16px; margin-left:20px;font-weight:700; font-size: 0.8rem;color: #9e9e9e;">Heure Fin</div>

<div class="col-sm-3">{{ form_widget(form.heureFin.hour) }}</div>
<div class="col-sm-3">{{ form_widget(form.heureFin.minute) }}</div>
</div>
</div>
<div class="row">
<div class="col-md-7">{{form_row(form.client)}}</div>
<div class="col-md-5">{{ form_row(form.nombreParticipants) }}</div>
</div>
<div class="col-md-12">{{form_row(form.respoQuali)}}</div>


<div class="col-md-4 ">{{form_row(form.langue)}}</div>
<div class="col-md-8">{{ form_row(form.theme) }}</div>
<div class="col-md-12">{{ form_row(form.objectif) }}</div>
<div class="col-md-12">{{ form_row(form.description) }}</div>


</div>
</div>
          <div class="modal-footer">
  <span class="pull-left">{{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}</span>
  <span class="pull-right"><button type="button" class="btn btn-danger red" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> Fermer </button></span>

        </div>

{{ form_rest(form) }}
{{ form_end(form) }}
      </div>
    