{% extends "OFCalendarBundle::layout.html.twig" %} 

{% block stylesheets %}
	{{ parent()}}
	<link rel="stylesheet" href="{{ asset('css/fullcalendar/fullcalendar.css') }}" />
{% endblock %}
{% block sidebar %}
	{% include("@OFCalendar/sidebar.html.twig") %}
{% endblock %}
{% block body %}
 {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

<div class="col-md-8">      
{% if is_granted('ROLE_ADMIN') %}
	<button type="button" id="ajouterEventBouton" class="btn btn-primary " data-toggle="modal" data-target="#modalAdd"><span class="glyphicon glyphicon-plus"></span></button>
{% endif %}

	<div class="hidden-sm hidden-xs" id="calendar-holder"></div>

	<!-- Modal -->

	{% include 'OFCalendarBundle:Calendar:addevent.html.twig' %}
			<div id="modalShow" class="modal-content modal col-md-6" style="height:450px;">
				
			
			</div>
</div>

{% else %}
    <br />
   
    <br />
    {{ render(controller('OFUserBundle:User:LoginBis')) }}
{% endif %}


{% endblock %}


{% block javascript %}
	{{ parent() }}

	<script type="text/javascript" src="{{ asset('js/calendar/fullcalendar.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/calendar/calendar-settings.js') }}"></script>
	<script>
		var $visite = -1;
$(function(){



$('.main-content').on("click", "#modalVisitetrigger", function(){
				$visite = $(this).attr("idVisite");
                $.ajax({
                    url: "{{ path('of_calendar_showModalEvent')}}",
                    method: "post",
                    data:{"idVisite" : $(this).attr("idVisite")}

                }).done(function($reponse){
                	$('#modalShow').html($reponse);
                	$('#modalShow').modal("open");
                });
                
            });



	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	
		$('.modal-content').on("click", "#ajout_conferencier",function(){
			chargement();
			var $div = $("#ajout_conferencier").parent();
			$div.html('');
			$('#loading-image').clone().appendTo($div);
			$('#loading-image').fadeIn(1000);
			$.ajax({
				url: "{{ path('of_calendar_ajoutUserEvent')}}",
				method: "post",
				data:{idUser: {{ app.user.id}}, visite: $visite}

			}).done(function(){
				$("#viewModal").removeClass("hidden").hide().fadeIn(1000);

				$('#loading-image').fadeOut(1000);
				stopchargement();

				$div.html("{{ app.user.prenom}} {{ app.user.nom}}");
					//Materialize.toast('Vous êtes maintenant conférencier sur cette visite.', 3000);
			});
		});
		$('.modal-content').on("click", "#suppr_conferencier",function(){
			chargement();
			var $div = $(this).parent();
			var $iduser = $div.attr('iduser');
			$div.html('');
			$('#loading-image').clone().appendTo($div);
			$('#loading-image').show();
			$.ajax({
				url: "{{ path('of_calendar_supprUserEvent')}}",
				method: "post",
				data:{idUser: $iduser, visite: $visite}

			}).done(function(){
				
				$('#loading-image').fadeOut(500);

				stopchargement();
				//Materialize.toast('Vous n\'êtes plus conférencier sur cette visite.', 3000);
				$div.html("N/A");

			});
		});
	});
	{% endif %}
	
</script>
{% endblock %}



