{% extends "OFCalendarBundle::layout.html.twig" %} 
{% block stylesheets %}
	{{ parent()}}
	<link rel="stylesheet" href="{{ asset('css/fullcalendar/fullcalendar.css') }}" />
{% endblock %}
{% block sidebar %}
	{% include("@OFCalendar/sidebar.html.twig") %}
{% endblock %}
{% block body %}
<div class="col-md-8">      
{% if is_granted('ROLE_ADMIN') %}
	<button type="button" id="ajouterEventBouton" class="btn btn-primary " data-toggle="modal" data-target="#modalAdd"><span class="glyphicon glyphicon-plus"></span></button>
{% endif %}
	<div id="calendar-holder"></div>

	<!-- Modal -->

	{% include 'OFCalendarBundle:Calendar:addevent.html.twig' %}
			<div id="modalShow" class="modal-content modal col-md-6" style="height:450px;">
				
			
			</div>
</div>
{% endblock %}
{% block javascript %}
	{{ parent() }}

	<script type="text/javascript" src="{{ asset('js/calendar/fullcalendar.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/calendar/calendar-settings.js') }}"></script>
	<script>
$(function(){

$('.main-content').on("click", "#modalVisitetrigger", function(){
                $.ajax({
                    url: "{{ path('of_calendar_showModalEvent')}}",
                    method: "post",
                    data:{"idVisite" : $(this).attr("idVisite")}

                }).done(function($reponse){
                	$('#modalShow').html($reponse);
                	$('#modalShow').modal("open");
                });
                
            });
});
	</script>



{% endblock %}