{% extends "OFCalendarBundle::Visite/Quali/layout.html.twig" %} 
{% block body %}
	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

	

<div class="col-md-8 ">

  <ul id="tabs-swipe-demo" class="tabs">
    <li class="tab col s4"><a class="active" href="#test-swipe-1">Visites à venir ( {{visitesToDo|length}} ) </a></li>
    <li class="tab col s4"><a href="#test-swipe-2">Visites terminées ( {{visitesDone|length }} )</a></li>
    <li class="tab col s4"><a href="#test-swipe-3">Visites Qualité ({{ listeVisitesQualite|length }}) </a></li>
  </ul>
  <div id="test-swipe-1" class="col s12 white">



      {% if visitesToDo|length == 0 %}
      <div class="col-xs-12" style="text-align:center;color:#7f8c8d">
        <span class="glyphicon glyphicon-eye-close" style="color:#7f8c8d; font-size:40px;"></span>
        <br />
        Il n'y a rien à afficher.
        <br />
      </div>

      {% else %}
            <table class="highlight">
        <thead>
          <tr>
              <th>Date et heure</th>
              <th>Client</th>
              <th>Etape</th>
              <th>Lien</th>
          </tr>
        </thead>

        <tbody>
      {% for event in visitesToDo %}
      <tr>
        <td> Le <b>{{event.startDatetime|date("d/m", "Europe/Paris")}}</b> de <b>{{event.startDatetime|date("H:i", "Europe/Paris")}}</b> à <b>{{event.endDatetime|date("H:i", "Europe/Paris")}} </td>
        <td> {{ event.entrepriseClient }} </td>
        <td> {{ event.step|abs }}</td>
      <td><a href="{{ path('of_calendar_view_visite',{'id' : event.id, 'etape' : 0})}}"> Panel de gestion de visite</a></td>
    </tr>
    {% endfor %}

          
          
         
      </table>
      {% endif %}
      <br />



  </div>
  <div id="test-swipe-2" class="col s12 white">


      {% if visitesDone|length == 0 %}
      <div class="col-xs-12" style="text-align:center;color:#7f8c8d">
        <span class="glyphicon glyphicon-eye-close" style="color:#7f8c8d; font-size:40px;"></span>
        <br />
        Il n'y a rien à afficher.<br />
        </div>

      {% else %}
         <table class="highlight">
        <thead>
          <tr>
              <th>Date et heure</th>
              <th>Client</th>
              <th>Statistique de satisfaction</th>
              <th>Panel Visite</th>
          </tr>
        </thead>

        <tbody>
      {% for event in visitesDone %}

      <tr>
        <td> Le <b>{{event.startDatetime|date("d/m", "Europe/Paris")}}</b> de <b>{{event.startDatetime|date("H:i", "Europe/Paris")}}</b> à <b>{{event.endDatetime|date("H:i", "Europe/Paris")}} </td>
        <td> {{ event.entrepriseClient }} </td>
        <td> {% if (event.step == 5) %}<a href="{{ path('of_calendar_view_visite',{'id' : event.id, 'etape' : 5})}}"> Consulter les résultats des questionnaires </a> {% else %} Les questionnaires n'ont pas encore été remplis. {% endif %}</td>
      <td><a href="{{ path('of_calendar_view_visite',{'id' : event.id, 'etape' : 0})}}"> Panel de gestion de visite</a></td>
    </tr>
    {% endfor %}

          
          
         
      </table>
      {% endif %}
      <br />
  
  </div>
  <div id="test-swipe-3" class="col s12 white">
      

        <tbody>
      {% if listeVisitesQualite|length == 0 %}
      <div class="col-xs-12" style="text-align:center;color:#7f8c8d">
        <span class="glyphicon glyphicon-eye-close" style="color:#7f8c8d; font-size:40px;"></span>
        <br />
        Il n'y a rien à afficher.
        <br />
      </div>

      
      {% else %}
      <table class="highlight">
        <thead>
          <tr>
              <th>Date et heure</th>
              <th>Client</th>
              <th>Statistique de satisfaction</th>
              <th>Panel qualité de la visite</th>
          </tr>
        </thead>
      {% for event in listeVisitesQualite %}
      <tr>
        <td> Le <b>{{event.startDatetime|date("d/m", "Europe/Paris")}}</b> de <b>{{event.startDatetime|date("H:i", "Europe/Paris")}}</b> à <b>{{event.endDatetime|date("H:i", "Europe/Paris")}} </td>
        <td> {{ event.entrepriseClient }} </td>
        <td> {% if (event.step == 5) %}<a href="{{ path('of_calendar_view_visite',{'id' : event.id, 'etape' : 5})}}"> Consulter les résultats des questionnaires </a> {% else %} Les questionnaires n'ont pas encore été remplis. {% endif %}</td>
      <td><a href="{{ path('of_calendar_view_qualitevisite',{'id' : event.id})}}"> Panel Qualité</a></td>
    </tr>
    {% endfor %}

          
          
         
      </table>

      {% endif %}
      <br />
  
  </div>

  </div>


</div>

	{% endif %}

  {% endblock %}