{% extends "OFCareersmlBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}


{% block body %}
	
	<div class="contentremplacementajax">
		<h2> Il suffit de remplir ce formulaire </h2>
		<h4> Qui ne prend pas plus de 2 minutes </h4>
	  	{{ form_start(form, {'attr': {'class': 'form-horizontal formAjax'}}) }}
	  	{# Les erreurs générales du formulaire. #}
	  	{{ form_errors(form) }}
		{# Génération manuelle et éclatée : #}
		<div class="form-group">
			{# Génération du label. #}

			{# Affichage des erreurs pour ce champ précis. #}
			{{ form_errors(form.nom) }}

			<div class="col-md-4 col-md-offset-4">
			  {# Génération de l'input. #}
				<div id="etape1">
					{{ form_widget(form.nom, {'attr': {'class': '', 'placeholder' : 'Name' }}) }}
					<br />
					{{ form_widget(form.prenom, {'attr': {'class': '', 'placeholder' : 'Surname' }}) }}
					<br />
					{{ form_widget(form.date, {'attr': {'class': ''}}) }}
					<br />
					<span class="col-md-6 col-md-offset-3">
						<a href="" id="boutonintermediairenext" class = "btn btn-primary style1"> Next </a>
					</span>
				</div>
				<div id="etape2">
					{{ form_widget(form.cv, {'attr': {'class': '', 'placeholder' : 'Upload your CV' }}) }}
					<br />
					<br />
					<span class="col-xs-6 pull-left" >

					<a href="" id="boutonintermediaireprev" class = "style1 btn btn-primary "> Previous </a>
					
					</span>
					<span class="col-xs-6 pull-right">
					{{ form_widget(form.save, {'attr': {'class': ' btn btn-primary style1 '}, 'label' : ' Valider'}) }}
			 		</span>
			

				</div>
			
			</div>
		</div>
	  {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
	  

	  {# Génération automatique des champs pas encore écrits.
	     Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
	     et tous les champs cachés (type « hidden »). #}
	  	{{ form_rest(form) }}
		
	  {# Fermeture de la balise <form> du formulaire HTML #}
	  {{ form_end(form) }}
	</div>
{% endblock %}


{% block javascript %}
	{{ parent() }}
	<script>
			compteuretape = 0;
			$('#etape2').hide();
			$('#boutonintermediairenext').click(function(e){

		        e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
				if (compteuretape==0){
		    		compteuretape = 1;
		    		$('#etape1').hide();
		    		$('#etape2').fadeIn(1000);
				}

			});
			$('#boutonintermediaireprev').click(function(e){

		        e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
				if (compteuretape==1){
		    		compteuretape = 0;
		    		$('#etape2').hide();
		    		$('#etape1').fadeIn(1000);
				}

			});
		


			  // Lorsque je soumets le formulaire
		    $('body').on('submit','.formAjax', function(e) {
		    	
		        e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
		 
		        var $this = $(this); // L'objet jQuery du formulaire
		 
		       
	            // Envoi de la requête HTTP en mode asynchrone
	            $.ajax({
	                url: $this.attr('action'), // Le nom du fichier indiqué dans le formulaire
	                type: $this.attr('method'), // La méthode indiquée dans le formulaire (get ou post)
	                data: $this.serialize(), // Je sérialise les données (j'envoie toutes les valeurs présentes dans le formulaire)
	                dataType: "json",
	                success: function(reponse) { // Je récupère la réponse du fichier PHP

	                    $('.contentremplacementajax').html(reponse.content).hide().fadeIn(1000); // J'affiche cette réponse
	                }
	            	});
      			  
        
		    });
		
	</script>
{% endblock %}

