
{% extends "OFCalendarBundle::Admin/layout.html.twig" %}


{% block body %}    
<button type="button" id="ajouterEventBouton" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalAdd"><span class="glyphicon glyphicon-plus"></span></button>
	<!-- Modal -->
	<div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Ajouter une visite</h4>
		      </div>
		      <div class="modal-body">
		        {{form(form)}}
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
		    </div>
		  </div>
		</div>
	</div>


<div class="col-md-8"> 
	<div class="panel panel-default">
		<div class="panel-heading">Clients</div>   
		<div class="panel-body">
			<table class="table table-striped">
			<thead>
			  <tr>
			  	<th>Entreprise</th>
			  	<th>Responsable</th>
			  	<th>Type</th>
			    <th>Adresse Mail</th>
			    <th>Téléphone</th>
			    <th>Actions</th>
			  </tr>
			</thead>
			<tbody>
			{% for client in listeClients %}
			  <tr>
			  	<td>{{ client.entreprise }}</td>
			  	<td>{{ client.responsable }}</td>
			  	<td>{{ client.type }}</td>
			    <td>{{ client.adresseMail }}</td>
			    <td>{{ client.telephone }}</td>
			    <td><a href="{{ path("of_calendar_Modifclients", {'id' : client.id} ) }}">Modifier</a> <a href=""  data-toggle="modal" data-target=".supprClient{{ client.id }}">Supprimer</a></td>

				<div class="modal fade supprClient{{ client.id }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
				  <div class="modal-dialog modal-lg" role="document">
				    <div class="modal-content">
				    	<div class="modal-header">
       						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       						<h4 class="modal-title" id="gridSystemModalLabel">Confirmation</h4>
       					</div>
       					<div class="modal-body">
				     		Voulez-vous vraiment supprimer l'enregistrement de <b>{{ client.entreprise }}</b> ? <br />
				     		<a href="{{ path("of_calendar_Supprclients", {'id' : client.id} ) }} ">Oui</a>
				  		</div>
				    </div>
				  </div>
				</div>
				




			  </tr>	
			{% endfor %}    
			</tbody>
			</table>
		</div>
	</div>
</div>

		

{% endblock %}

