{# Fichier qui overwrite le vendor/friendsofsymfony/FOSUSERBUNDLE/ressources/views/Security/#}

{% trans_default_domain 'FOSUserBundle' %}




<form action="{{ path("fos_user_security_check") }}"  method="post">
        {% if error %}
             <div class="alert alert-danger col-md-4 col-md-offset-4 disapear" fadeOutDuration="20000">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    <div class="col-md-4 col-md-offset-4" id="loginbloc">
       
        <br />
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}
        <div class="form-group">
        <input class="col-xs-12 form-control" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Username" required="required" />
        <br />
        <input class="col-xs-12 form-control" type="password" id="password" name="_password" placeholder="Password" required="required" />
        </div>

        <div  class="form-group" style="margin-top:20px;">
            <input type="checkbox" class="form-check" id="remember_me" name="_remember_me" value="on" style="float:left; margin-right:5px;"/>  <span style="color:#7f8c8d;">Remember me</span>
            <a href="{{path("fos_user_resetting_request")}}" class="pull-right">Mot de passe oublié ?</a><br />
        </div>

    </div>

    <input type="submit" class="col-md-4 col-xs-12 col-md-offset-4 btn-lg buttonLogin" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
</form>

<span class="col-md-4 col-xs-12 col-md-offset-4" style="text-align:center;">Not a member yet ? <a href="{{path("fos_user_registration_register") }}" > Sign up now ! </a></span>

