
{% extends "OFCalendarBundle::Admin/layout.html.twig" %}


{% block body %}    
	<button type="button" id="ajouterEventBouton" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalAdd"><span class="glyphicon glyphicon-plus"></span></button>

	<!-- Modal -->
	<div class="modal modal-content col-md-6" id="modalAdd" tabindex="-1"  aria-labelledby="myModalLabel">
		    <div class="">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Ajouter un utilisateur</h4>
		      </div>
		      <div class="modal-body">
		        {{form(form)}}
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-danger red" data-dismiss="modal">Fermer</button>
		    </div>
		  </div>
	</div>

<div class="col-md-8"> 
	<div class="panel panel-default">
		<div class="panel-heading">Utilisateurs</div>   
		<div class="panel-body">
			<table class="table table-striped responsive-table">
			<thead>
			  <tr>
			  	<th>Photo</th>
			  	<th>Nom</th>
			  	<th>Prénom</th>
			    <th>Username</th>
			    <th>Email</th>
			    <th>Téléphone</th>
			    <th>Actions</th>
			  </tr>
			</thead>
			<tbody>
			{% for user in listeUsers %}
			  <tr>
			  <td><img src="{{ asset(user.getWebProfilePicturePath) }}" style="height:50px; width:50px;"></td>
			  	<td>{{ user.nom }}</td>
			  	<td>{{ user.prenom }}</td>
			    <td>{{ user.username }}</td>
			    <td>{{ user.email }}</td>
			    <td>{{ user.telephone }}</td>
			    <td><a href="{{ path("of_calendar_AdminViewVisiteuser", {'id' : user.id} ) }}">Voir les visites</a><a href="{{ path("of_calendar_Modifusers", {'id' : user.id} ) }}">Modifier</a> <a href=""  data-toggle="modal" data-target=".supprUser{{ user.id }}">Supprimer</a></td>

				<div class="modal fade supprUser{{ user.id }} modal-content" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
				   
				    	<div class="modal-header">
       						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       						<h4 class="modal-title" id="gridSystemModalLabel">Confirmation</h4>
       					</div>
       					<div class="modal-body">
				     		Voulez-vous vraiment supprimer le compte de <b>{{ user.nom }} {{ user.prenom }}</b> ? <br />
				     		<a href="{{ path("of_calendar_Supprusers", {'id' : user.id} ) }} ">Oui</a>
				  		</div>
				    </div>
				  
		



			  </tr>	
			{% endfor %}    
			</tbody>
			</table>
		</div>
	</div>
</div>

		

{% endblock %}

