<div class="col-md-12">


  {% if event.getNotes is empty %}
  Aucun questionnaire n'a encore été rempli.
  {% else %}
  {% set index=0 %}
    {% set tableauQuestion = ['Attitude', 'Pédagogie', 'Connaissance', 'Charisme', 'Logistique', 'Durée de la Visite', 'Globalement'] %}
     {% for tableau in event.getNotes %}
    
    <div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">{{ tableauQuestion[index]}}</div>
        <div class="panel-body">
              <canvas id="Chart{{index}}"></canvas>
          </div>

          </div>
        </div>
          {% set index = index + 1 %}
          {% endfor %}

 

  </div>


          <script>
$( document ).ready(function() {
          function grapheQuestions(index, valeur1, valeur2, valeur3, valeur4) {
             var data = [
    {
        value: valeur1,
        color:"#F7464A",
        highlight: "#c0392b",
        label: "Insatisfaisant"
    },
    {
        value: valeur2,
        color: "#e67e22",
        highlight: "#d35400",
        label: "Assez Insatisfaisant"
    },
    {
        value: valeur3,
        color: "#f1c40f",
        highlight: "#FFC870",
        label: "Assez Satisfaisant"
    },
    {
        value: valeur4,
        color: "#2ecc71",
        highlight: "#27ae60",
        label: "Satisfaisant"
    }];


    var option = {
    responsive: true,
    };


              // Get the context of the canvas element we want to select
              
        new Chart(document.getElementById("Chart" + index).getContext('2d')).Pie(data,option); //'Line' defines type of the chart.


       



              
    }

     {% set index = 0 %}
         {% for tableau in event.getNotes %}
          grapheQuestions({{ index }} , {{tableau[0]}}, {{tableau[1]}}, {{tableau[2]}}, {{tableau[3]}})


          {% set index = index + 1 %}
          {% endfor %}
          
});
    </script>

    {% endif %}