<div class="col-sm-12">

  {% set index=0 %}

  {% if event.getEnquetes is empty%}
  <div class="alert alert-warning">
  Aucun questionnaire n'a encore été rempli.
  </div>
  {% else %}
    {% set tableauQuestion = ["Cette visite vous a-t-elle permis de mieux connaitre les activités d’EDF R&D, et de changer votre vision d’EDF ? ", 'Pensiez-vous que la R&D travaillait sur toutes ces thématiques ?', 'Quel était le but de la visite ?', 'Le parcours de visite proposé correspondait-il à ce que vous souhaitiez visiter ? ', 'Comment avez-vous trouvé l’accompagnement et la préparation pour cette visite ?', 'Avez-vous été suffisamment informé en amont de la visite (contenu, parcours, accessibilité…) ?', 'Comment jugez-vous l’attitude de votre conférencier lors de cette visite ? ', 'Le niveau de discours et de technicité du conférencier vous a-t-il convenu ?', 'A-t-il répondu à toutes vos questions ? A-t-il répondu à toutes vos questions ? '] %}
  <div class="row">
     {% for tableau in event.getNotes  %}
       {%if index is divisible by(3) and index != 0 %}
    </div>
    <div class="row">
    {% endif %}
    <div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">{{ tableauQuestion[index]}}</div>
        <div class="panel-body">
              <canvas id="Chart{{index}}"></canvas>
          </div>

          </div>
        </div>
     

          {% set index = index + 1 %}
          {% endfor %}
</div>


          <script> 
 $( document ).ready(function() {
  function grapheQuestions(index, valeur1, valeur2, valeur3, valeur4, valeur5, valeur6, valeur7) {
               var datas = {

      datasets: [{
          data: [ valeur1, valeur2, valeur3, valeur4, valeur5, valeur6, valeur7],


      backgroundColor:[
      '#46bfbd', 
      '#f7464a',
      '#fdb45c',
      '#46bfbd', 
      '#46bfcd',
      '#fdb45c',
      '#f7464a']}
      ],

      // These labels appear in the legend and in the tooltips when hovering different arcs
      labels: [
      'oui','non', 'moyennement','satisfaisant', 'assez satisfaisant', 'assez insatisfaisant', 'insatisfaisant'
      ]




      };


      var options = {
      responsive: true,
      
      legend: {
              display: false
             
          }
      
  };


                // Get the context of the canvas element we want to select
                
         new Chart(document.getElementById("Chart" + index).getContext('2d'), { type :'pie', data : datas, options : options}); //'Line' defines type of the chart.


       



                
      }

       {% set index = 0 %}
           {% for tableau in event.getNotes %}
            grapheQuestions({{ index }} , {{tableau[0]}}, {{tableau[1]}}, {{tableau[2]}}, {{tableau[3]}},  {{tableau[4]}},  {{tableau[5]}},  {{tableau[6]}}, {{tableau[7]}});
            {% set index = index + 1 %}
            {% endfor %}

          
});
    </script>

    {% endif %}

    </div>