<div class="panel panel-default">
    <div class="panel-heading">
      Formulaire de Visite
    </div>
    <div class="panel-body">
      {% if event.step >= steptoshow %}
        <div class="alert alert-success">
          <strong>Validée. </strong> Cette étape a déjà été validée.
        </div>
      {% elseif event.step|abs == steptoshow and event.step <0 %}
        <div class="alert alert-warning">
          <strong>En cours de validation.</strong> Une demande de validation a déjà été envoyée.
        </div>
        Valider l'étape : <button type="button" id="valid" class="btn btn-primary">Valider</button>
      {% else %}
        Valider l'étape : <button type="button" id="valid" class="btn btn-primary">Valider</button>
        Mettre en Validation : <button type="button" id="validreq" class="btn btn-primary">Valider</button>
      {% endif %}
      <div class="col-md-4">Client : {{ form_widget(form.client) }}</div>
      <div class="col-md-4">Type de Client  :{{ form_widget(form.typeClient) }}</div>
      <div class="col-md-4">Nombre de participants  :{{ form_widget(form.nombreParticipants) }}</div>
      <div class="col-md-6">Theme : {{ form_widget(form.theme) }}</div>
      <div class="col-md-6">Langue : {{ form_widget(form.langue) }}</div>
      <div class="col-md-12">Langue : {{ form_widget(form.objectif) }}</div>
      <div class="col-md-12">Langue : {{ form_widget(form.description) }}</div><br />
      {{form(form)}}
    </div>
</div>