<div class="col-md-12">


  {% if event.getNotes is empty %}
  Aucun questionnaire n'a encore été rempli.
  {% else %}
  {% set index=0 %}
    {% set tableauQuestion = ['Attitude', 'Pédagogie', 'Connaissance', 'Charisme', 'Logistique', 'Durée de la Visite', 'Globalement'] %}
     {% for tableau in event.getNotes %}
    
    <div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">{{ tableauQuestion[index]}}</div>
        <div class="panel-body">
              <canvas id="Chart{{index}}"></canvas>
          </div>

          </div>
        </div>
          {% set index = index + 1 %}
          {% endfor %}

 

  </div>


          <script>
$( document ).ready(function() {
          function grapheQuestions(index, valeur1, valeur2, valeur3, valeur4) {
             var datas = {

    datasets: [{
        data: [ valeur1, valeur2, valeur3, valeur4],


    backgroundColor:[
    '#f7464a', 
    '#fdb45c',
    '#46bfbd',
    '#6ebd70']}
    ]


    ,

    // These labels appear in the legend and in the tooltips when hovering different arcs
    labels: [
        'Insatisfaisant',
        'Assez Insatisfaisant',
        'Assez Satisfaisant',
        'Satisfaisant'
    ]




    };


    var options = {
    responsive: true,
    };


              // Get the context of the canvas element we want to select
              
       new Chart(document.getElementById("Chart" + index).getContext('2d'), { type :'pie', data : datas,option : options}); //'Line' defines type of the chart.


       



              
    }

     {% set index = 0 %}
         {% for tableau in event.getNotes %}
          grapheQuestions({{ index }} , {{tableau[0]}}, {{tableau[1]}}, {{tableau[2]}}, {{tableau[3]}})


          {% set index = index + 1 %}
          {% endfor %}
          
});
    </script>

    {% endif %}