<div class="background-nav-wizard col-md-12">
	<ul class="nav nav-wizard col-md-10 col-md-offset-2">
	    <li class="{% if (steptoshow == 0)%}stepshowed{% endif %} {% if (event.step|abs > 0) %}complete{% elseif (event.step|abs == 0)%}active{% else %}disabled{% endif %}">
	      <a href="{{ path('of_calendar_view_visite', {'id' : event.id, 'etape' : '0'})}}">Descriptif</a>
	    </li>
	    
	    <li class="{% if (steptoshow== 1)%}stepshowed{% endif %} {% if (event.step|abs > 1) %}complete{% elseif (event.step|abs == 1)%}active{% else %}disabled{% endif %}"><!-- complete -->
	      <a href="{{ path('of_calendar_view_visite', {'id' : event.id, 'etape' : '1'})}}" ><span class="glyphicon glyphicon-file"></span> Formulaire de Visite</a>
	    </li>
	    
	    <li class="{% if (steptoshow== 2)%}stepshowed{% endif %} {% if (event.step|abs > 2) %}complete{% elseif (event.step|abs == 2)%}active{% else %}disabled{% endif %}">
	      <a href="{{ path('of_calendar_view_visite', {'id' : event.id, 'etape' : '2'})}}"><span class="glyphicon glyphicon-inbox"></span> Logistique</a>
	    </li>
	    
	    <li class="{% if (steptoshow== 3)%}stepshowed{% endif %} {% if (event.step|abs > 3) %}complete{% elseif (event.step|abs == 3)%}active{% else %}disabled{% endif %}">
	      <a href="{{ path('of_calendar_view_visite', {'id' : event.id, 'etape' : '3'})}}"><span class="glyphicon glyphicon-list-alt"></Span> Récapitulatif EDF</a>
	    </li>
	   	<li class="{% if (steptoshow== 4)%}stepshowed{% endif %} {% if (event.step|abs > 4) %}complete{% elseif (event.step|abs == 4)%}active{% else %}disabled{% endif %}">
	      <a href="{{ path('of_calendar_view_visite', {'id' : event.id, 'etape' : '4'})}}"><span class="glyphicon glyphicon-envelope"></span> Proposition Visite</a>
	    </li>
	    <li class="{% if (steptoshow== 5)%}stepshowed{% endif %} {% if (event.step|abs > 5) %}complete{% elseif (event.step|abs == 5)%}active{% else %}disabled{% endif %}">
	      <a href="{{ path('of_calendar_view_visite', {'id' : event.id, 'etape' : '5'})}}"><span class="glyphicon glyphicon-time"></span> Déroulé</a>
	    </li>
	</ul>
</div>

<div class="col-lg-8 col-lg-offset-2">      
	<br />
	{% if steptoshow != 0 %}
		{% if event.step|abs > steptoshow %}
	        <div class="alert alert-success">
	          <strong>Validée. </strong> Cette étape a été validée.
	        </div>
	      {% elseif event.step|abs == steptoshow and event.step <0 %}
	        <div class="alert alert-warning">
	          <strong>En cours de validation.</strong> Une demande de validation a été envoyée.
	        </div>
	        Valider l'étape : <button type="button" id="valid" class="btn btn-primary">Valider</button>
	      {% else %}
	    {% endif %}
	{% endif %}
	<div class="etapeBloc">
	{% if (steptoshow == 0)%}
		{% include("@OFCalendar/Visite/etapes/etape0.html.twig") %}
	{% elseif (steptoshow == 1)%}
		{% include("@OFCalendar/Visite/etapes/etape1.html.twig") %}
	{% elseif (steptoshow == 2)%}
		{% include("@OFCalendar/Visite/etapes/etape2.html.twig") %}
	{% elseif (steptoshow == 3)%}
		{% include("@OFCalendar/Visite/etapes/etape3.html.twig") %}
	{% elseif (steptoshow == 4)%}
		{% include("@OFCalendar/Visite/etapes/etape4.html.twig") %}
	{% elseif (steptoshow == 5)%}
		{% include("@OFCalendar/Visite/etapes/etape5.html.twig") %}
	{% else %}
		{% include("@OFCalendar/Visite/etapes/etape0.html.twig") %}
	{% endif %}

	</div>
</div>
<script>
	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

	$(document).ready(function(){

		function validerEtape(){
			$.ajax({
				url: "{{ path('of_calendar_validerEtapeEvent', {'id' : event.id, 'etape': steptoshow})}}",
				method: "post",
				data:{}

			}).done(function(response){
				$('#visitecontent').fadeOut(1000);  
    			$eventStep +=1;
    			$.ajax({
				   url: Routing.generate('of_calendar_view_visite',{id: $idEvent, etape:$eventStep}),
				   type:'GET',
				   success: function(data){

				       $('#visitecontent').html($(data).filter('#visitecontent').first().children()); // ici on choisi filter car visitecontent est un top element. Sinon on prend find.
				       $('#visitecontent').fadeIn(1000);  
				   }
				});  
			
			});
		};

		function mettreEnValidation(){
			$.ajax({
				url: "{{ path('of_calendar_demandeEtapeEvent', {'id' : event.id, 'etape' : steptoshow})}}",
				method: "post",
				data:{}

			}).done(function(response){

				$('#visitecontent').fadeOut(1000);  
    			$.ajax({
				   url: Routing.generate('of_calendar_view_visite',{id: $idEvent, etape:$eventStep}),
				   type:'GET',
				   success: function(data){

				       $('#visitecontent').html($(data).filter('#visitecontent').first().children()); // ici on choisi filter car visitecontent est un top element. Sinon on prend find.
				       $('#visitecontent').fadeIn(1000);  
				   }
				});  

			
			});

		};

			
		$('body').on('submit', '.ajaxForm', function (e) {

			var $role = $(this).find('button').attr('role');
	 		$(this).find('button').html('Merci de patienter...');
	        e.preventDefault();
	 			
	        $.ajax({
	            type: $(this).attr('method'),
	            url: $(this).attr('action'),
	            data: $(this).serialize()
	        }).done(function(){
	        	if($role  == 'valid'){
	        		validerEtape();
	        	}else if($role == 'validreq'){
	        		mettreEnValidation();
	        	}

	        });

    	});

		var $eventStep = {{ event.step }};
		var $idEvent = {{event.id}}


		$('#valid').click(function(){
			validerEtape();
		});


		$('#validreq').click(function(){
			mettreEnValidation();
		});
	});
	{% endif %}
	
</script>
