<div class="background-nav-wizard col-xs-12 hidden-xs">
	<ul class="nav nav-wizard col-md-10 col-md-offset-2 col-xs-12 hidden-xs">
	    <li class="{% if (steptoshow == 0)%}stepshowed{% endif %} {% if (event.step|abs > 0) %}complete{% elseif (event.step|abs == 0)%}active{% else %}disabled{% endif %}">
	      <a href="{{ path('of_calendar_view_visite', {'id' : event.id, 'etape' : '0'})}}">Descriptif</a>
	    </li>
	    
	    {#
	    <li class="{% if (steptoshow== 1)%}stepshowed{% endif %} {% if (event.step|abs > 1) %}complete{% elseif (event.step|abs == 1)%}active{% else %}disabled{% endif %}">
	      <a href="{{ path('of_calendar_view_visite', {'id' : event.id, 'etape' : '1'})}}"><span class="glyphicon glyphicon-inbox"></span> Logistique</a>
	    </li>
	    #}
	    
	    <li class="{% if (steptoshow== 2)%}stepshowed{% endif %} {% if (event.step|abs > 2) %}complete{% elseif (event.step|abs == 2)%}active{% else %}disabled{% endif %}">
	      <a href="{{ path('of_calendar_view_visite', {'id' : event.id, 'etape' : '2'})}}"><span class="glyphicon glyphicon-list-alt"></span> Proposition Visite</a>
	    </li>

	    {#
	   	<li class="{% if (steptoshow== 3)%}stepshowed{% endif %} {% if (event.step|abs > 3) %}complete{% elseif (event.step|abs == 3)%}active{% else %}disabled{% endif %}">
	      <a href="{{ path('of_calendar_view_visite', {'id' : event.id, 'etape' : '3'})}}"><span class="glyphicon glyphicon-envelope"></span> Récapitulatif EDF</a>
	    </li>
	    #}
	    <li class="{% if (steptoshow== 4)%}stepshowed{% endif %} {% if (event.step|abs > 4) %}complete{% elseif (event.step|abs == 4)%}active{% else %}disabled{% endif %}">
	      <a href="{{ path('of_calendar_view_visite', {'id' : event.id, 'etape' : '4'})}}"><span class="glyphicon glyphicon-time"></span> Déroulé</a>
	    </li>
	   	<li class="{% if (steptoshow== 5)%}stepshowed{% endif %} {% if (event.step|abs > 5) %}complete{% elseif (event.step|abs == 5)%}active{% else %}disabled{% endif %}">
	      <a href="{{ path('of_calendar_view_visite', {'id' : event.id, 'etape' : '5'})}}"><span class="glyphicon glyphicon-tasks"></span> Bilan</a>
	    </li>
	</ul>
</div>
<div class=" col-xs-12 ">
<div class="panel panel-default visible-xs-block">
<div class="panel-body">
<ul >
	    <li class="{% if (steptoshow == 0)%}stepshowed{% endif %} {% if (event.step|abs > 0) %}complete{% elseif (event.step|abs == 0)%}active{% else %}disabled{% endif %}">
	      <a href="{{ path('of_calendar_view_visite', {'id' : event.id, 'etape' : '0'})}}">Descriptif</a>
	    </li>
	    
	    
	    <li class="{% if (steptoshow== 1)%}stepshowed{% endif %} {% if (event.step|abs > 1) %}complete{% elseif (event.step|abs == 1)%}active{% else %}disabled{% endif %}">
	      <a href="{{ path('of_calendar_view_visite', {'id' : event.id, 'etape' : '1'})}}"><span class="glyphicon glyphicon-inbox"></span> Logistique</a>
	    </li>
	    
	    <li class="{% if (steptoshow== 2)%}stepshowed{% endif %} {% if (event.step|abs > 2) %}complete{% elseif (event.step|abs == 2)%}active{% else %}disabled{% endif %}">
	      <a href="{{ path('of_calendar_view_visite', {'id' : event.id, 'etape' : '2'})}}"><span class="glyphicon glyphicon-list-alt"></span> Proposition Visite</a>
	    </li>
	   	<li class="{% if (steptoshow== 3)%}stepshowed{% endif %} {% if (event.step|abs > 3) %}complete{% elseif (event.step|abs == 3)%}active{% else %}disabled{% endif %}">
	      <a href="{{ path('of_calendar_view_visite', {'id' : event.id, 'etape' : '3'})}}"><span class="glyphicon glyphicon-envelope"></span>Récapitulatif EDF</a>
	    </li>
	    <li class="{% if (steptoshow== 4)%}stepshowed{% endif %} {% if (event.step|abs > 4) %}complete{% elseif (event.step|abs == 4)%}active{% else %}disabled{% endif %}">
	      <a href="{{ path('of_calendar_view_visite', {'id' : event.id, 'etape' : '4'})}}"><span class="glyphicon glyphicon-time"></span> Déroulé</a>
	    </li>
	   	<li class="{% if (steptoshow== 5)%}stepshowed{% endif %} {% if (event.step|abs > 5) %}complete{% elseif (event.step|abs == 5)%}active{% else %}disabled{% endif %}">
	      <a href="{{ path('of_calendar_view_visite', {'id' : event.id, 'etape' : '5'})}}"><span class="glyphicon glyphicon-tasks"></span> Bilan</a>
	    </li>
	</ul>
	</div>
	</div>
	</div>
<div class="row panel-group" style=" border-collapse: collapse;">


	        <div class="col-md-2 col-xs-12 col-sm-12 pull-left" id="sidebar"><br />
	        	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	<div class="headerSidebar">
		Mes visites en cours
	</div>
	<div class="contentSidebar">
	{% if visitesToDo|length == 0 %}
 <div  style="text-align:center;color:#7f8c8d">
        <span class="glyphicon glyphicon-eye-close" style="color:#7f8c8d; font-size:40px;"></span>
        <br />
        Il n'y a rien à afficher.
        <br />
  </div>
	{% else %}
		{% for event in visitesToDo %}
			<a href="{{ path('of_calendar_view_visite',{'id' : event.id, 'etape' : event.step})}}">
				Le <b>{{event.startDatetime|date("d/m", "Europe/Paris")}}</b> de <b>{{event.startDatetime|date("H:i", "Europe/Paris")}}</b> à <b>{{event.endDatetime|date("H:i", "Europe/Paris")}}<br/><br/></b></li>
			</a>
		{% endfor %}

	{% endif %}
	</div>
	<div  style="text-align:center;" class="col-xs-12 footerSidebar"><a href="{{ path('of_calendar_panelUser') }}" > Voir toutes mes visites </a></div>
	
{% endif %}
	        </div>
	<div class="col-md-8 col-xs-12">      
		<br />
	<!-- 	{% if steptoshow != 0 %}
			{% if event.step|abs > steptoshow %}
		        <div class="alert alert-success z-depth-1">
		          <strong>Validée. </strong> Cette étape a été validée.
		        </div>
		      {% elseif event.step|abs == steptoshow and event.step <0 %}
		        <div class="alert alert-warning z-depth-1 ">
		          <strong>En cours de validation.</strong> Une demande de validation a été envoyée.
		        </div>
		      {% else %}
		    {% endif %}
		{% endif %} -->

		<div class="etapaeBloc">
		{% if (steptoshow == 0)%}
			{% include("@OFCalendar/Visite/etapes/etape0.html.twig") %}
		{% elseif (steptoshow == 1)%}
			{% include("@OFCalendar/Visite/etapes/etape1.html.twig") %}
		{% elseif (steptoshow == 2)%}
			{% include("@OFCalendar/Visite/etapes/etape2.html.twig") %}
		{% elseif (steptoshow == 3)%}
			{% include("@OFCalendar/Visite/etapes/etape3.html.twig") %}
		{% elseif (steptoshow == 4)%}
			{% include("@OFCalendar/Visite/etapes/etape4.html.twig") %}
		{% elseif (steptoshow == 5)%}
			{% include("@OFCalendar/Visite/etapes/etape5.html.twig") %}
		{% elseif (steptoshow == -48)%}
			{% include("@OFCalendar/Visite/etapes/validAdmin.html.twig") %}
		{% else %}
			{% include("@OFCalendar/Visite/etapes/etape0.html.twig") %}
		{% endif %}

		</div>
	</div>

		<div class="col-md-2 col-xs-12">
	<br />
		<div class="panel panel-default">
						<div class="panel-heading">
							<span class="glyphicon  glyphicon glyphicon-send"></span> Contact Client
						</div>
						<div class="panel-body">
							<b>Responsable :</b> {{ event.civiliteClient }} {{ event.nomClient }} {{ event.prenomClient}} <br />
							<b>Mail : </b><span class="tooltipped" data-tooltip="{{ event.adresseMailClient}}" data-position="left" data-delay="20" > {{ event.adresseMailClient[:16]}}...</span> <br/>
							<b>Tél. :</b> {{ event.telephoneClient}} <br/><br />
							{% if event.premierContact == "ok"%}
								Le premier contact a été effectué.
							{% else %}
								<a data-toggle="" href="{{ path('of_calendar_premierContactEvent', {'id' : event.id})}}" data-target="#" class="btn btn-primary col-xs-12">Premier Contact</a>
							{% endif %}
						</div>
					</div>
		<br />
				<div class="panel panel-default">
						<div class="panel-heading"><span class="glyphicon glyphicon-comment"></span> Contact Conférence</div>
						<div class="panel-body">
						<b> Conférenciers : </b>
						<ul style="margin-left:20px;">
							{% for participant in event.applications %}
								<li >{{participant.user.prenom}} {{participant.user.nom}}<br />
								<div style="margin-left:10px; border-left : 2px solid #4a8bee; padding-left:20px;">
								{{participant.user.telephone}}<br />
								<span class="tooltipped" data-tooltip="{{ participant.user.email}}" data-position="left" data-delay="20" >{{participant.user.email[:15]}}...</span>
								</div>	
							</li>
							{% endfor %}
						
						</ul>
						</div>
					</div>
		<br />

	</div>
</div>

 



<script>
	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

	$(document).ready(function(){

		function validerEtape(){
			$.ajax({
				url: "{{ path('of_calendar_validerEtapeEvent', {'id' : event.id, 'etape': steptoshow})}}",
				method: "post",
				data:{}

			}).done(function(response){
				$('#visitecontent').fadeOut(1000);  
    			$eventStep +=1;
    			$.ajax({
				   url: Routing.generate('of_calendar_view_visite',{id: $idEvent, etape:$eventStep}),
				   type:'GET',
				   success: function(data){
				   	
						Materialize.toast('Etape enregistrée', 3000);
				       $('#visitecontent').html($(data).filter('#visitecontent').first().children()); // ici on choisi filter car visitecontent est un top element. Sinon on prend find.
				       $('#visitecontent').fadeIn(1000);  

	      				stopchargement();

				   }
				});  
			
			});
		};

		function mettreEnValidation(){
			
			$.ajax({
				url: "{{ path('of_calendar_demandeEtapeEvent', {'id' : event.id, 'etape' : steptoshow})}}",
				method: "post",
				data:{}

			}).done(function(response){

				$('#visitecontent').fadeOut(1000);  
    			$.ajax({
				   url: Routing.generate('of_calendar_view_visite',{id: $idEvent, etape:$eventStep}),
				   type:'GET',
				   success: function(data){
				   		
				       	Materialize.toast('Une demande de validation a été générée.', 3000);
				       $('#visitecontent').html($(data).filter('#visitecontent').first().children()); // ici on choisi filter car visitecontent est un top element. Sinon on prend find.
				       $('#visitecontent').fadeIn(1000); 
				       stopchargement(); 
				   }
				});  

			
			});

		};

			
		$('body').on('submit', '.ajaxForm', function (e) {
			chargement();
			var $role = $(this).find('button').attr('role');
	 		$(this).find('button').html('Merci de patienter...');
	        e.preventDefault();
	 			
	        $.ajax({
	            type: $(this).attr('method'),
	            url: $(this).attr('action'),
	            data: $(this).serialize()
	        }).done(function(){
	        	if($role  == 'valid'){
	        		validerEtape();
	        	}else if($role == 'validreq'){
	        		mettreEnValidation();
	        	}

	        });

    	});

		var $eventStep = {{ event.step }};
		var $idEvent = {{event.id}}


		$('#valid').click(function(){
			chargement();
			validerEtape();
		});


		$('#validreq').click(function(){
			chargement();
			mettreEnValidation();
		});
	});
	{% endif %}
	
</script>
